<div class='card'>
<div class='card-header'>
  {{pageTitle}}
</div>
<div class='card-body'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
      <input type='text' placeholder="Enter city name"/>
      <button class=" btn btn-primary">Search</button>
    </div>
  </div>
  <div class='row'
       *ngIf=>
    <div class='col-md-6'>
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>City</th>
          <th>Temperature</th>
          <th>Clouds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let city of cities'>
          <td>city.name</td>
          <td>temperature.value</td>
          <td>clouds.value</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>